accelerate==1.2.1Add commentMore actions
aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
aiosqlite==0.21.0
airbyte-cdk==6.56.2
airbyte_protocol_models_dataclasses==0.17.1
alembic==1.16.2
annotated-types==0.7.0
antlr4-python3-runtime==4.13.2
anyascii==0.3.2
anyio==4.7.0
apprise==1.9.3
asgi-lifespan==2.1.0
asttokens==3.0.0
asyncpg==0.30.0
attributes-doc==0.4.0
attrs==24.3.0
backoff==2.2.1
bleach==6.2.0
blinker==1.9.0
boltons==25.0.0
bracex==2.6
cachetools==5.5.2
cattrs==25.1.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
clickhouse-connect==0.8.17
clickhouse-driver==0.2.9
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==14.0
comm==0.2.2
coolname==2.2.0
croniter==5.0.1
cryptography==44.0.3
dagit==1.10.21
dagster==1.10.21
dagster-graphql==1.10.21
dagster-pipes==1.10.21
dagster-webserver==1.10.21
dagster_shared==1.10.21
dateparser==1.2.1
debugpy==1.8.11
decorator==5.1.1
deprecation==2.1.0
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
docstring_parser==0.16
dpath==2.2.0
dunamai==1.24.1
dune_spice==0.2.6
exceptiongroup==1.3.0
executing==2.1.0
fastapi==0.115.13
filelock==3.16.1
Flask==3.1.1
flipside==2.1.0
frozendict==2.3.10
frozenlist==1.5.0
fsspec==2024.10.0
genson==1.3.0
google-api-core==2.25.1
google-auth==2.40.3
google-cloud-secret-manager==2.24.0
googleapis-common-protos==1.70.0
gotrue==2.12.0
gql==3.5.3
graphene==3.4.3
graphistry==0.35.4
graphql-core==3.2.6
graphql-relay==3.2.0
graphviz==0.21
greenlet==3.2.3
griffe==1.7.3
grpc-google-iam-v1==0.14.2
grpcio==1.73.0
grpcio-health-checking==1.71.0
grpcio-status==1.73.0
h11==0.14.0
h2==4.2.0
hpack==4.1.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.27.0
humanfriendly==10.0
humanize==4.12.3
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
iniconfig==2.1.0
interchange==2021.0.4
ipykernel==6.29.5
ipython==8.30.0
isodate==0.6.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
jinja2-humanize-extension==0.4.0
jiter==0.8.2
joblib==1.4.2
jsonpatch==1.33
jsonpickle==4.0.1
jsonpointer==3.0.0
jsonref==0.2
jsonschema==4.17.3
jupyter_client==8.6.3
jupyter_core==5.7.2
kaggle==1.7.4.5
langchain-core==0.1.42
langsmith==0.1.147
lz4==4.4.4
Mako==1.3.10
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mdurl==0.1.2
monotonic==1.6
moralis==0.1.49
mpmath==1.3.0
multidict==6.1.0
narwhals==1.44.0
neo4j==5.28.1
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
numpy==1.26.4
oauthlib==3.3.1
openai==0.28.0
opentelemetry-api==1.34.1
orjson==3.10.18
packaging==23.2
palettable==3.3.3
pandas==2.2.2
pansi==2024.11.0
parso==0.8.4
pathspec==0.12.1
pendulum==3.1.0
pillow==11.1.0
pipenv==2025.0.3
platformdirs==4.3.6
plotly==6.1.2
pluggy==1.6.0
polars==1.30.0
postgrest==1.0.2
prefect==3.1.4
prometheus_client==0.22.1
prompt_toolkit==3.0.48
propcache==0.2.1
proto-plus==1.26.1
protobuf==6.31.1
psutil==6.1.0
pure_eval==0.2.3
py2neo==2021.2.4
pyarrow==18.1.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.10.0
pydantic-extra-types==2.10.5
pydantic-settings==2.10.0
pydantic_core==2.27.0
Pygments==2.18.0
PyJWT==2.10.1
pymongo==4.13.0
pyrate-limiter==3.1.1
pyreadline3==3.5.4
pyrsistent==0.20.0
pytest==8.4.1
pytest-mock==3.14.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-slugify==8.0.4
python-ulid==3.0.0
pytz==2024.2
pyvis==0.3.2
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
RapidFuzz==3.13.0
readchar==4.2.1
realtime==2.4.3
regex==2024.11.6
requests==2.32.0
requests-cache==1.2.1
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rich==13.9.4
rich-argparse==1.7.1
rich-click==1.8.9
rsa==4.9.1
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
safetensors==0.4.5
scikit-learn==1.6.0
scipy==1.14.1
serpyco-rs==1.15.2
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.41
squarify==0.4.4
stack-data==0.6.3
starlette==0.46.2
storage3==0.11.3
StrEnum==0.4.15
structlog==25.4.0
supabase==2.15.3
supafunc==0.9.4
sympy==1.13.1
tabulate==0.9.0
tenacity==8.5.0
text-unidecode==1.3
threadpoolctl==3.5.0
tokenizers==0.21.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.3
toposort==1.10
torch==2.5.1
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.47.0
typer==0.13.1
typing-inspection==0.4.1
typing_extensions==4.14.0
tzdata==2024.2
tzlocal==5.3.1
ujson==5.10.0
universal_pathlib==0.2.6
url-normalize==2.2.1
urllib3==2.2.3
uvicorn==0.34.3
virtualenv==20.31.2
watchdog==5.0.3
watchfiles==1.1.0
wcmatch==10.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==13.1
Werkzeug==3.1.3
whenever==0.6.17
xmltodict==0.14.2
yarl==1.18.3
zipp==3.23.0
zstandard==0.23.0